/* Google Font  */


.main-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
/* Universal CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-color{
    color: #252432;
}
section{
    padding: 0 159px 0 141px;
}
/* Button */
.btn-primary{
    background-color: #4E47FF;
    padding:12px 36px;
    color: #fff;
    border: none;
    border-radius:5px ;
}
h4{
    font-size: 42px;
    color: #252432;
}
/* Header Section */
header{
    padding: 20px 150px;
    background-image: url("../assets/image/Hero-bg.png");
    background-repeat: no-repeat;
    height: 440px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner{
    text-align: center;
    padding: 137px 258px;
}
.banner h2{
    text-align: center;
    color: #252432;
    width: 70%;
    margin: auto;
    font-weight: ;
}
.banner .btn-primary{
    margin-top: 37px;
}
/* Action section */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 116px;
}
.action-details{
    width: 517px;
    height: 204px;
}
.action-description{
    font-size: 24px;
    margin-bottom: 23px;
    
}
.action-section h4{
    margin-bottom: 23px
}
.action-section img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}