/* Google Font  */


.main-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}
/* Universal CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-color{
    color: #252432;
}
section{
    padding: 0 159px 0 141px;
    background-color: #F5F8FF;
}
/* Button */

.btn-primary{
    background-color: #4E47FF;
    padding:12px 36px;
    color: #fff;
    border: none;
    border-radius:5px ;
}
/* h tags */
h4{
    font-size: 42px;
    color: #252432;
}
h5{
    font-size: 38px;
    color: #252432;
}
h6{
    font-size: 16px;
}
/* Header Section */
header{
    padding: 20px 150px;
    background-image: url("../assets/image/Hero-bg.png");
    background-repeat: no-repeat;
    height: 440px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner{
    text-align: center;
    padding: 137px 258px;
}
.banner h2{
    text-align: center;
    color: #252432;
    width: 70%;
    margin: auto;
}
.banner .btn-primary{
    margin-top: 37px;
}
/* Action section */
.action-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 116px;
}
.action-details{
    width: 517px;
    height: 204px;
}
.action-description{
    font-size: 24px;
    margin-bottom: 23px;
    
}
.action-section h4{
    margin-bottom: 23px
}
.action-section img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* User section */
.user-section{
    padding-top: 116px;
    text-align: center;
}
.user-details{
    padding: 50px 60px ;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.user-items h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 10px;
}
.user-count{
    display: flex;
    justify-content: space-around;
}
.user-items p{
    font-size: 20px;
}
.user-section h5{
    margin-bottom: 40px;
}
/* review section */
.review-section h4{
    text-align: center;
    padding-top: 137px;
    margin-bottom: 50px;
}

.review-items {
    display: flex;
    gap: 20px;
    background-color: #fff;
}
.review-item {
    width: calc((100% - 40px) / 3);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.review-section i{
    color: #FFB805;
    font-size: 10px;
    margin-right: 2px;
    margin-bottom: 15px;
}
.review-section .love{
    font-size:10px ;
    width: 70%;
    margin-top: 10px;
}
.review-section .user-photo-name{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.user-photo-name img{
    border-radius: 50%;
    
}
.user-photo-name .name,
.user-photo-name .date{
    font-size:14px;
    margin-left: 5px;
}


